@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Poppins", sans-serif;
	margin-inline-start: 0px;
	padding: 0;
	min-inline-size: 100vw;
	min-block-size: 100vh;
	block-size: 100%;
	position: relative;
	/* overflow-y: hidden;
	height: 100%; */
	overflow: auto;
}

body::before {
	content: "";
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
	inline-size: 100%;
	block-size: 100%;
	background-image: url("/assets/images/bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	filter: brightness(0.7);
	z-index: -1;
}

::-webkit-scrollbar {
	inline-size: 8px;
	block-size: 6px;
}
::-webkit-scrollbar * {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: #f59e0b !important;
	border-radius: 5px;
}
